/* this is body section */
body {
    margin: 0px;
}

/* this is heading section */
.heading {
    background-color: #686ff6;
    width: 100%;
    height: 60px;
    display: inline-block;
    margin-bottom: 0px;
    overflow: hidden;
}

.logo {
    float: left;
    margin: .5% 0% 0 5%;

}

.name {
    font-size: 15px;
    float: left;
    margin: 0px 15px;
    font-family: sans-serif;
    letter-spacing: 5px;
}

.heading .name span {
    color: #14fc03;
}

.option {
    float: right;
    margin: 20px 0px;
    width: 1000px;
}

.option a {
    float: left;
    margin: 0 3%;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
}

.option input {
    float: left;
    margin: 0 3%;
}

a:hover {
    background: rgb(88, 227, 237);
    color: black;
}

.option a span {
    color: #51fe44;
}

/* need help..!! */
.blank {
    background-color: black;
    border: 1px solid black;
    margin-top: 0px;
    overflow: hidden;
}

/* this is poster section */
.poster {
    background-color: #4471e6;
    width: 100%;
    height: 600px;
    display: inline-block;
}

.poster .welcome {
    margin-left: 200px;
    margin-top: 2%;
    float: left;
    width: 600px;
    display: inline;

}

.poster .welcome .posret_heading span {
    color: #14fc03;
}

.poster .welcome .posret_heading {
    font-size: 60px;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.poster .welcome .sub_heading {
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    margin: 10px 0 0 0;
    font-family: sans-serif;
}

.poster .welcome .about {
    color: white;
    text-align: justify;
    line-height: 25px;
    font-size: 17px;
}

.poster .pic_1 {
    float: left;
    display: block;
    width: 500px;
}

.poster .pic_1 img {
    width: 550px;
    margin: 60px 0 0 100px;
    overflow: hidden;
}

/* need help */
.poster .button .contact {
    background-color: black;
    color: white;
}

/* this is after poster section  */
.small {
    margin-left: 25%;
    margin-bottom: 0px;
    width: 900px;
    font-family: sans-serif;
    overflow: hidden;
}

.small .small_icon {
    float: left;
    width: 200px;
    margin: 90px 20px;
    border: 2px solid white;
    box-shadow: 10px 10px 20px #343434;
    border-radius: 10px;
    text-align: justify;
    background-color: white;
}

.small .small_icon h4 {
    text-align: center;
    mask-type: 0px;
    margin: 0px;
}

.small .small_icon img {
    width: 40px;
    height: 30px;
    margin: 10px 40%;
}

.small .small_icon p {
    padding: 10px;
    margin-top: 0px;
}

/* this is service section  */
.service {
    font-family: sans-serif;
    overflow: hidden;
    margin-bottom: opx;
}

.service .car_service {
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: underline;
}

.service .service_design {
    background: url(images/blue.png) no-repeat;
    width: 100%;
    height: 650px;
    margin-left: 250px;
    overflow: hidden;
}

.service .service_design .upper_message {
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    width: 500px;
    margin: 50px 00px 0 250px ;
    padding: 0 10px 10px;
    text-align: center;
}
.service .service_design .upper_message p{
    text-align: justify;
    padding: 10px;
    line-height:30px ;
}
.service .service_design .upper_message button{
    color: white;
    background-color: #14fc03;
    border-radius: 30px;
    border-color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding:5px 20px;
    text-transform: capitalize;
}
/* this is what_we_do section  */
.what_we_do{
    text-align: center;
    width: 850px;
    margin:0  auto 20px;
    font-family: sans-serif;
}
.what_we_do h2{
    font-size: 40px;
    height: 40px;
    font-family: cursive;
    text-transform: uppercase;
}
.what_we_do .we_do_pic{
    display: inline-block;
}
.what_we_do .we_do_pic img{
    width: 350px;
    height: 300px;
    float: left;
    margin: 20px;
    border-radius: 30px;
}
.what_we_do button{
    color: white;
    background-color: #14fc03;
    border-radius: 30px;
    border-color:white;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding:7px 25px;
    text-transform: capitalize;
}

/* this is contact_us section  */
.contact_us{
    background-color: #141629;
    color: white;
    font-family: sans-serif;
    width: 100%;
    height: 450px;
}
.contact_us .form{
    width: 500px;
    height: 400px;
    font-size: 50px;
    margin-left: 90px;
    float: left;
}
.contact_us form fieldset .typs{
    width: 100%;
    height: 30px;
    background-color: #141629;
    color: white;
    display: inline-block;
}
.contact_us form fieldset textarea{
    margin-top: 30px;
}
.contact_us form fieldset button{
    color: white;
    background-color: #14fc03;
    border-radius: 30px;
    border-color:#14fc03;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding:3px 25px;
    text-transform: capitalize;
}
.contact_us .location{
    float: left;
    width: 50px;
    margin-left: 200px;
    margin-top: 10px;
}
.contact_us .location .img_2{
    width: 500px;
    margin-top: 30px;
}
.contact_us .location .location_text {
    width: 500px;
}
.contact_us .location .location_text img {
    width: 18px;
}
.contact_us .location .location_text h4{
    display: inline-block;
    width: 200px;
    margin-left: 10px;
    color: rgb(92, 89, 137);
    font-size: 20px;
}
